
@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,greek";
@media (max-width: 991px) {
.form-text, .form-textarea, .block-superfish select, .block-search .form-submit {
    background-image: none;
}
}
body {
    color: rgb(68, 68, 68);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 160%;
}
p {
    margin: 0 0 20px;
    padding: 0;
}
a {
    transition: all 0.3s ease-in-out 0s;
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: medium none;
    text-decoration: none;
}
blockquote {
    border-left: medium none;
    color: rgb(153, 153, 153);
    margin: 40px 40px 24px;
    padding: 0;
    position: relative;
}
blockquote::before {
    content: "“";
    display: block;
    font-size: 30px;
    left: -20px;
    position: absolute;
    top: 5px;
}
blockquote p {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
.views-table {
    border: medium none;
}
#pre-header {
    color: rgb(170, 170, 170);
}
#bottom-content {
    color: rgb(255, 255, 255);
}
*::-moz-selection {
    color: rgb(255, 255, 255);
}
h1, h2, h3, h4, h5, h6 {
    line-height: 120%;
    margin: 20px 0 10px;
    padding: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: rgb(68, 68, 68);
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    color: rgba(100, 100, 100, 0.8);
    font-size: 22px;
    line-height: 140%;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
h1.page-title {
    font-size: 34px;
}
.title-sep, #pre-header h2, #promoted h2, .sidebar h2, #footer h2 {
    clear: both;
    font-size: 16px;
    margin-bottom: 0;
    position: relative;
}
.title-sep::after, #pre-header h2::after, #promoted h2::after, .sidebar h2::after, #footer h2::after {
    content: "";
    display: none;
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
.title-sep .glyphicon {
    font-size: 13px;
    padding-right: 18px;
}
.page-node #content-wrapper h1.page-title {
    margin: 0;
    padding: 20px 40px 0;
}
table {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    width: 100%;
}
table tbody {
}
table tr.even, table tr.odd, th {
    background-color: rgba(0, 0, 0, 0);
}
thead tr th, thead tr td, tbody tr th, tbody tr td {
    line-height: 120%;
    padding: 0;
    vertical-align: top;
}
#pre-header {
    background-color: rgb(51, 51, 51);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 13;
}
.logged-in #pre-header {
    padding-top: 64px;
}
#pre-header-inside {
    display: none;
    padding: 40px 0 0;
    position: relative;
    z-index: 13;
}
#header-top {
    background-color: rgb(102, 51, 51);
    min-height: 50px;
    position: relative;
    z-index: 12;
}
#header {
    background-color: rgb(255, 255, 255);
    min-height: 130px;
    padding: 10px 0 5px;
    position: relative;
    text-align: center;
    z-index: 5;
}
#main-navigation {
    background-color: rgb(102, 51, 51);
    position: relative;
    z-index: 11;
}
.front #banner {
    background: rgb(102, 51, 51) none repeat scroll 0 0;
}
.front #banner .container {
    padding: 0;
}
#banner-inside {
    margin-bottom: 40px;
    padding-top: 10px;
}
#slideshow {
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(234, 234, 234);
    border-radius: 6px;
    display: none;
    padding: 10px;
}
#top-content {
    background-color: rgb(255, 255, 255);
    padding: 40px 0 20px;
}
#main-content {
    border-bottom: 5px solid rgb(199, 83, 6);
    border-top: 5px solid rgb(199, 83, 6);
}
#main {
    padding: 50px 0 20px;
}
.not-front #main {
    padding: 15px 0 20px;
}
#bottom-content {
    padding: 40px 0 20px;
}
#footer {
    background-color: rgb(252, 252, 252);
    border-bottom: 1px solid rgb(234, 234, 234);
    border-top: 1px solid rgb(234, 234, 234);
    margin-bottom: 1px;
    padding: 60px 0 30px;
}
#subfooter {
    background-color: rgb(102, 51, 51);
    padding: 18px 0 0;
    text-align: left;
}
.block {
    clear: both;
    padding: 0 0 10px;
}
#header-top .block, #main-navigation .block, #banner .block {
    padding: 0;
}
.glyphicon-block {
    text-align: center;
}
.glyphicon-block .glyphicon {
    font-size: 48px;
    margin: 30px 0 0;
}
.glyphicon-block h4 {
    margin-top: 10px;
}
ul li {
    list-style-type: none;
}
ol li {
    list-style-type: decimal;
}
#header ul, #subfooter ul {
    text-align: left;
}
.item-list ul li {
    border-bottom: 1px dashed rgb(221, 221, 221);
    margin-bottom: 0;
    padding: 15px 0;
}
#block-user-login .item-list ul li {
    border-bottom: medium none;
    padding: 0 0 5px;
}
.item-list ul li.first {
    padding-top: 0;
}
.item-list ul li.last {
    border-bottom: medium none;
}
ul.pager {
    clear: both;
    margin-bottom: 25px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.item-list ul.pager li {
    border-bottom: medium none;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}
ul.pager li a, ul.pager li.pager-current {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 6px;
    display: block;
    margin: 5px 3px 5px 0;
    padding: 14px 20px;
}
ul.pager li a:hover, ul.pager li.pager-current {
    background-color: rgb(231, 76, 60);
    border-color: rgb(118, 106, 25);
    color: rgb(255, 255, 255);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
ul.menu {
    border: medium none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#block-menu-menu-top-menu ul.menu {
    margin: 0;
    padding: 0;
    text-align: left;
}
ul.menu li {
    border-bottom: 1px dashed rgb(221, 221, 221);
    list-style-position: inside;
    margin: 0;
    padding: 15px 0;
}
ul.menu li a {
    display: inline-block;
    font-size: 14px;
    line-height: 150%;
}
ul.menu li a:hover, ul.menu li a.active {
    text-decoration: none;
}
ul.menu li.leaf {
    color: rgb(68, 68, 68);
    list-style-image: none;
}
ul.menu li.expanded {
    border-bottom: medium none;
    padding-bottom: 0;
}
ul.menu li.expanded ul {
    border-top: 1px dashed rgb(221, 221, 221);
    margin-top: 15px;
    padding-left: 25px;
}
#header ul.menu, #subfooter ul.menu, #top-content ul.menu, #bottom-content ul.menu {
    text-align: center;
}
#header-top ul.menu li, #header ul.menu li, #main-navigation ul.menu li, #top-content ul.menu li, #subfooter ul.menu li, #bottom-content ul.menu li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    list-style-type: none;
    padding: 0;
}
#header ul.menu li a, #top-content ul.menu li a, #bottom-content ul.menu li a {
    padding: 15px 20px;
}
#header-top ul.menu ul, #header ul.menu ul, #main-navigation ul.menu ul, #top-content ul.menu ul, #subfooter ul.menu ul, #bottom-content ul.menu ul {
    display: none;
}
#header-top ul.menu li a {
    color: rgb(231, 76, 60);
    font-size: 0.9em;
    font-weight: 700;
    padding: 16px 20px;
    text-transform: uppercase;
}
#header-top ul.menu li a:hover {
    background: rgb(199, 83, 6) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
}
#main-navigation ul.menu li a {
    font-weight: 700;
    padding: 20px 12px;
    text-transform: uppercase;
}
#main-navigation ul.menu li a:hover {
    background: rgb(199, 83, 6) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
}
#main-navigation ul.menu ul li a, #header-top ul.menu ul li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color rgb(234, 234, 234) rgb(234, 234, 234);
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    padding: 15px 20px;
    text-transform: capitalize;
}
.block-superfish select {
    border-radius: 0;
    border-width: 1px;
    width: 90%;
}
#main-navigation .block-superfish select {
    border-bottom: medium none;
    border-top: medium none;
    width: 100%;
}
.block-superfish ul.sf-menu {
    margin: 0;
    padding: 0;
}
.block-superfish ul.sf-menu ul {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 0;
    border-top: 1px solid rgb(234, 234, 234);
    box-shadow: 0 10px 0 -5px rgba(0, 0, 0, 0.05);
    display: none;
    padding: 0;
    top: 100%;
}
.block-superfish ul.sf-menu ul li a {
    display: block;
}
.block-superfish ul.sf-menu > li > ul::before, .block-superfish ul.sf-menu > li > ul::after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255);
    border-style: solid;
    border-width: 0 9px 9px;
    content: "";
    height: 0;
    left: 15px;
    position: absolute;
    top: -9px;
    width: 0;
}
.block-superfish ul.sf-menu > li > ul::after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(234, 234, 234);
    top: -10px;
    z-index: -1;
}
.block-superfish ul.sf-menu ul ul {
    top: -1px;
}
.block-superfish ul.sf-menu ul ul li a {
    border-left: medium none !important;
}
#main-navigation .block-superfish ul.sf-menu > li > a.menuparent {
    padding: 20px 40px 20px 20px;
}
#header-top .block-superfish ul.sf-menu > li > a.menuparent {
    padding: 16px 40px 16px 20px;
}
.block-superfish ul.sf-menu li a.menuparent::after {
    content: "";
    font-family: "Glyphicons Halflings";
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    right: 17px;
    top: 20px;
}
#header-top .block-superfish ul.sf-menu li a.menuparent::after {
    top: 17px;
}
.block-superfish ul.sf-menu ul li a.menuparent::after {
    content: "";
    right: 10px;
    top: 14px;
}
.sf-menu.sf-horizontal.sf-shadow ul {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    padding: inherit !important;
}
#subfooter ul.menu li a {
    display: block;
    padding: 0 20px 15px;
}
#pre-header ul.menu li a.active, #pre-header ul.menu li a:hover, #bottom-content ul.menu li a.active, #bottom-content ul.menu li a:hover {
    color: rgb(250, 250, 250);
}
#pre-header ul.menu li a {
    border-bottom: 1px dashed rgb(68, 68, 68);
}
#logo {
    padding: 0 0 5px;
    text-align: center;
}
#logo img {
    display: inherit;
}
#logo > a {
    pointer-events: none;
}
#site-name a {
    color: rgb(68, 68, 68);
    display: block;
    font-size: 38px;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 10px;
}
#site-name a:hover {
    opacity: 0.8;
    text-decoration: none;
}
#site-slogan {
    color: rgb(153, 153, 153);
    font-size: 13px;
    font-weight: 300;
    line-height: 150%;
    margin: 10px 0;
}
.node.node-teaser, .page-node- #content-wrapper, .page-contact #content-wrapper {
    background-color: rgb(252, 252, 252);
    border: 1px solid rgba(80, 80, 80, 0.7);
    border-radius: 6px;
    margin-bottom: 30px;
    min-height: 370px;
}
.node header h2 a:hover {
    text-decoration: none;
}
.node .content, #comments, .page-contact #content-wrapper {
    padding: 0 40px;
}
.node footer {
    padding: 20px 40px 40px;
}
.field-name-field-image {
    margin: 10px 0 20px;
}
.node .user-signature {
    font-size: 12px;
    padding: 0;
}
.user-picture {
    display: inline-block;
    margin: 0 15px 0 0;
    max-width: 48px;
}
.submitted .glyphicon {
    top: 0;
}
#comments {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
}
.comment {
    border: 2px solid rgb(255, 255, 255);
    margin-top: 25px;
    padding: 32px;
}
.comment header {
    padding: 0;
}
.comment h3 {
    clear: both;
}
.comment h3 a:hover {
    text-decoration: none;
}
.comment .user-picture {
    float: left;
    margin: 0 15px 25px 0;
}
.comment .new {
    display: inline-block;
    margin: 10px 0;
}
.field-type-taxonomy-term-reference .field-label {
    font-weight: bold;
}
.field-type-taxonomy-term-reference .field-item::after {
    content: ",";
    margin-right: 5px;
}
.field-type-taxonomy-term-reference .field-item:last-child::after {
    color: rgba(0, 0, 0, 0);
}
th.active img {
    margin: -4px 0 0 5px;
}
#forum table {
    border: 1px solid rgb(234, 234, 234);
}
#forum thead tr {
    border-bottom: 1px solid rgb(234, 234, 234);
}
#forum thead tr th, #forum thead tr td {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: medium none;
    font-weight: 700;
    padding: 11px;
}
#forum thead a {
    color: rgb(68, 68, 68);
}
#forum tbody tr th, #forum tbody tr td {
    border: medium none;
    padding: 25px 25px 25px 15px;
}
#forum tr.odd {
    background: rgb(251, 251, 251) none repeat scroll 0 0;
    border-bottom: 1px solid rgb(234, 234, 234);
}
#forum tr.even {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-bottom: 1px solid rgb(234, 234, 234);
}
#forum .last-reply {
    font-size: 12px;
}
.node-forum .field-name-body {
    margin: 10px 0;
}
.node-forum .field-type-taxonomy-term-reference {
    float: none;
}
input:focus, input[type="button"], input[type="reset"], input[type="submit"] {
    transition: all 0.3s ease-in-out 0s;
}
input.form-text, textarea.form-textarea, select {
    background-color: rgb(252, 252, 252);
    border: 1px solid rgba(80, 80, 80, 0.7);
    border-radius: 3px;
    box-shadow: none;
    color: rgb(100, 100, 100);
    font-size: 14px;
    padding: 5px 0;
    margin:0 0 5px 0;
}
.front .views-field-field-product-image .field-content {
    min-height: 232px;
}
input.form-text:focus, textarea.form-textarea:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    outline: medium none;
}
.search-form input.form-text {
    width: 70%;
}
.dark input.form-text {
    border: medium none;
}
#webform-client-form-43 label {
    display: inline-block;
    width: 110px;
}
#webform-client-form-126 label {
    display: inline-block;
    width: 89px;
}
#block-webform-client-block-126 {
    top: 25px;
}
fieldset {
    border: 1px solid rgb(234, 234, 234);
    margin: 0 2px;
    padding: 10px;
}
legend {
    border-bottom: medium none;
    font-size: 14px;
    margin: 0;
    width: auto;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0 0 3px;
}
input[type="submit"], input[type="reset"], input[type="button"], .button {
    background-color: rgb(231, 76, 60);
    border: medium none;
    border-radius: 3px;
    box-shadow: none;
    color: rgb(255, 255, 255);
    margin: 5px 5px 10px 0;
    padding: 8px 12px;
    text-transform: uppercase;
}
a.button {
    display: inline-block;
    padding: 8px 12px;
}
a.button:hover {
    color: #fff;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .highlighted-block .btn:hover, .highlighted-block .btn:focus {
    color: rgb(255, 255, 255);
}
.nav-tabs {
    margin: 25px 0 15px;
}
.panel-group {
    margin: 25px 0;
}
.panel-heading a:hover {
    text-decoration: none;
}
ul.links {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}
ul.links li {
    margin: 0;
}
.breadcrumb {
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(234, 234, 234);
    border-radius: 6px;
    display: none;
    margin-bottom: 30px;
    padding: 14px 20px;
}
.breadcrumb > li {
    display: inline;
    margin: 0 2px 0 0;
}
#header-top #block-search-form {
    float: right;
    margin: 0;
}
#header-top #block-search-form .form-item {
    margin: 0;
}
#header-top #block-search-form input.form-text {
    border: medium none;
    border-radius: 0;
    font-size: 13px;
    min-height: 52px;
    padding: 15px 40px 15px 15px;
    width: 180px;
}
#header-top #block-search-form input.form-text:focus {
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    width: 240px;
}
#block-search-form .form-actions, .sidebar-search-block .form-actions {
    color: rgb(153, 153, 153);
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 0;
}
.logged-in #block-search-form .form-actions, .logged-in .sidebar-search-block .form-actions {
    right: 10px;
}
#block-search-form .form-actions::after, .sidebar-search-block .form-actions::after {
    content: "";
    font-family: "Glyphicons Halflings";
    left: 0;
    position: absolute;
    top: 16px;
    z-index: 0;
}
#block-search-form input.form-submit, .sidebar-search-block input.form-submit {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    height: 52px;
    margin: 0;
    padding: 10px;
    position: relative;
    z-index: 1;
}
#block-search-form input.form-submit:focus, .sidebar-search-block input.form-submit:focus, .sidebar-search-block input.form-submit:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    outline: medium none;
}
.poll .vote-form {
    text-align: left;
}
.poll .vote-form .choices {
    display: block;
}
.poll .bar .foreground {
    background-color: rgb(68, 68, 68);
}
.call-to-action {
    text-align: center;
}
.call-to-action .lead {
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.call-to-action p {
    margin: 0 0 30px;
}
.call-to-action .btn {
    border-radius: 100px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 100%;
    padding: 18px 28px;
}
.call-to-action .btn:hover {
    opacity: 0.9;
}
.call-to-action .btn:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5) inset;
}
#block-node-recent .node-title a {
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: 700;
}
#bottom-content .node-title a {
    color: rgb(255, 255, 255);
}
#pre-header .node-title a {
    color: rgb(170, 170, 170);
}
#block-node-recent .node-title a:hover {
    text-decoration: none;
}
#block-node-recent .node-author {
    margin: 5px 0;
}
#block-node-recent table {
    border: medium none;
}
#block-node-recent tr.even, #block-node-recent tr.odd {
    border-bottom: 1px dashed rgb(221, 221, 221);
    margin-bottom: 0;
    padding: 15px 0;
}
#block-node-recent tbody th, #block-node-recent tbody td {
    border: medium none;
    font-size: 13px;
    line-height: 1.42857;
    padding: 8px 8px 8px 0;
    vertical-align: top;
}
#block-node-recent tbody tr:first-child th, #block-node-recent tbody tr:first-child td {
    padding-top: 0;
}
#block-node-recent tbody tr:last-child {
    border-bottom: medium none;
}
.highlighted-block, #block-user-login, #block-poll-recent {
    border-radius: 6px;
    overflow: hidden;
    padding: 25px;
}
.highlighted-block-inside {
    padding: 0 25px 25px;
    text-align: center;
}
.highlighted-block .btn {
    background-color: rgb(68, 68, 68);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: block;
    margin: 20px 0 0;
    padding: 15px 25px;
    text-align: center;
}
.highlighted-block.nopadding {
    padding: 0;
}
.highlighted-block .title-sep {
    margin: 0 0 40px;
}
.light, #block-user-login, #block-poll-recent {
    background: rgb(252, 252, 252) none repeat scroll 0 0;
    border: 1px solid rgb(234, 234, 234);
    color: rgb(51, 51, 51);
}
.dark {
    background-color: rgb(51, 51, 51);
    color: rgb(204, 204, 204);
    padding: 30px 20px 0;
    text-align: center;
}
.dark h3 {
    color: rgb(255, 255, 255);
    margin: 0 0 20px;
}
.dark input[type="submit"] {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
.dark input[type="submit"]:hover {
    opacity: 0.9;
}
.dark .small {
    color: rgb(153, 153, 153);
    font-size: 13px;
}
#block-user-login {
    margin: 0 0 20px;
    padding: 5px 25px 0;
}
.tag {
    display: inline-block;
}
.tag a {
    background-color: rgb(68, 68, 68);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 3px 0;
    padding: 8px;
    position: relative;
    z-index: 0;
}
.tag a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
div.messages {
    background-position: 13px 15px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px 15px 15px 50px;
}
div.messages a {
    font-weight: bold;
}
div.messages.status {
    background-color: rgb(223, 240, 216);
    border-color: rgb(214, 233, 198);
    color: rgb(70, 136, 71);
}
div.messages.status a {
    color: rgb(53, 102, 53);
}
div.messages.error {
    background-color: rgb(242, 222, 222);
    border-color: rgb(235, 204, 209);
    color: rgb(185, 74, 72);
}
div.messages.error a {
    color: rgb(149, 59, 57);
}
div.messages.warning {
    background-color: rgb(252, 248, 227);
    border-color: rgb(250, 235, 204);
    color: rgb(192, 152, 83);
}
div.messages.warning a {
    color: rgb(164, 126, 60);
}
.carousel .item {
    max-height: 520px;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
.carousel ol.carousel-indicators {
    bottom: auto;
    left: auto;
    margin: 0;
    opacity: 0;
    padding: 0 20px;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 20px;
    width: auto;
    z-index: 2;
}
.carousel ol.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5);
    border: medium none;
    border-radius: 100%;
    cursor: pointer;
    height: 18px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    width: 18px;
}
.carousel ol.carousel-indicators li.active {
    background-color: rgb(252, 252, 252);
}
.carousel .carousel-control {
    background-color: rgb(252, 252, 252);
    background-image: none;
    border-radius: 100%;
    color: rgb(68, 68, 68);
    cursor: pointer;
    display: block;
    height: 48px;
    margin: 0;
    opacity: 0;
    outline: medium none;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 45%;
    transition: all 0.3s ease 0s;
    width: 48px;
}
.carousel .carousel-control.right {
    right: 20px;
}
.carousel .carousel-control.left {
    left: 20px;
}
.carousel a.carousel-control:active, .carousel a.carousel-control:hover {
    background-color: rgb(252, 252, 252);
}
.carousel-control .icon-prev, .carousel-control .icon-next {
    display: block;
    font-family: Arial,sans-serif;
    font-size: 40px;
    left: auto;
    right: 0;
    width: 100%;
}
.carousel:hover .carousel-control, .carousel:hover ol.carousel-indicators {
    opacity: 1;
}
.carousel .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: rgb(255, 255, 255);
    display: block;
    left: 0;
    padding: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.carousel .carousel-caption h4, .carousel .carousel-caption p {
    display: block;
    margin: 0 auto;
    max-width: 1170px;
}
@media all and (max-width: 768px) {
.carousel .carousel-caption p {
    display: none;
}
}
@media all and (max-width: 480px) {
.carousel .carousel-control, .carousel .carousel-caption {
    display: none;
}
}
.credits {
    font-size: 0.9em;
    margin-bottom: 0;
}
.toggle-control {
    position: relative;
    width: 100%;
    z-index: 13;
}
.toggle-control a, .toggle-control a:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 52px;
    line-height: 14px;
    padding: 18px 19px;
    position: absolute;
    right: 0;
    top: 0;
}
.gm-style img {
    max-width: none;
}
#toTop {
    background: rgb(153, 153, 153) none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    font-size: 32px;
    height: 55px;
    opacity: 0.4;
    padding: 10px 0 0 2px;
    position: fixed;
    right: 5px;
    text-align: center;
    width: 55px;
    z-index: 14;
}
#toTop:hover {
    opacity: 1;
    transition: all 0.3s ease 0s;
}
ul.primary {
    margin: 15px 0;
    padding-left: 40px;
}
ul.primary, ul.primary li a, ul.primary li.active a {
    border-color: rgb(234, 234, 234);
}
ul.primary li.active a {
    border-bottom: 1px solid rgb(255, 255, 255);
}
#toolbar {
    box-sizing: content-box;
}
#toolbar ul.menu {
    width: auto;
}
#toolbar ul.menu li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.not-logged-in .block-forum .contextual-links-wrapper {
    display: none;
}
a.contextual-links-trigger, #toolbar a, textarea {
    transition: none 0s ease 0s ;
}
.views-field-view-node {
    background: rgb(199, 83, 6) none repeat scroll 0 0;
    border-radius: 2px;
    margin: 4px 0;
    padding: 11px 0;
    text-align: center;
}
.views-field-view-node a {
    color: rgb(255, 255, 255);
    padding: 0 5px;
}
.views-field-view-node a:hover {
    color: rgba(50, 50, 50, 0.8);
}
.view-featured-products .col-1, .view-featured-products .col-2, .view-featured-products .col-3, .view-featured-products .col-4 {
    margin: 0;
    padding: 12px 30px 10px;
    width: 25%;
}
.views-label.views-label-field-product-code {
    color: rgba(200, 40, 0, 0.9);
    font-size: 0.8em;
    font-weight: bold;
}
.front h1.page-title {
    display: none;
}
.flexslider .slides img {
    display: block;
    width: auto;
}
#top-content-inside .col-md-12 {
    padding: 0;
}
#main-content .col-md-12 {
    padding: 0;
}
#main-navigation-inside .col-md-12 {
    padding: 0;
}
#subfooter a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.not-front #banner {
    display: none;
}
#tb-megamenu-main-menu {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
}
.tb-megamenu .nav > li > a {
    border-right: medium none;
    color: rgb(231, 76, 60) !important;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 15px 6px 12px;
    text-transform: uppercase;
}
.tb-megamenu .nav > li.dropdown.open.active > a:hover {
    color: rgb(255, 255, 255) !important;
}
.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    margin-top: 8px;
}
.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
    color: rgb(255, 255, 255);
    outline: medium none;
    text-shadow: none;
    text-transform: uppercase;
}
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    background: rgb(199, 83, 6) none repeat scroll 0 0;
}
.tb-megamenu .dropdown-menu a {
    clear: both;
    color: rgb(51, 51, 51);
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 40px;
    padding: 1px 0 1px 7px;
    white-space: nowrap;
}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
    color: rgba(255, 255, 255, 0.9);
}
.tb-megamenu-row {
    background: rgb(102, 51, 51) none repeat scroll 0 0;
}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    background: rgb(199, 83, 6) none repeat scroll 0 0 !important;
    color: rgb(255, 255, 255) !important;
}
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
    background: rgb(199, 83, 6) none repeat scroll 0 0 !important;
    color: rgb(255, 255, 255) !important;
    outline: medium none;
    text-decoration: none;
    text-shadow: none;
}
.tb-megamenu-column-inner {
    max-height: 400px;
}
.view-display-id-page .views-field-field-product-image {
    min-height: 250px;
}
.views-field-title a {
    font-size: 17px;
}
.views-view-grid tbody tr td {
    border: 1px solid rgb(238, 238, 238);
    line-height: 120%;
    margin: 2px;
    padding: 3px 4px 5px;
    text-align: center;
    vertical-align: top;
    width: 20%;
}
.views-field-field-product-image .field-content {
    min-height: 100px;
    padding-top: 10px;
}
span.wrapper-quantity {
    display: none;
}
#btn-submit-quote, #btn-submit-quote2, 
#btn-my-quote, .q-button, .q-button:hover {
    background: rgb(231, 76, 60) none repeat scroll 0 0;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-left: 6px;
}
#quote-form .form-item .label, #quote-form2 .form-item .label {
    color: rgb(0, 0, 0);
    float: left;
    width: 120px;
}
.tb-megamenu-block .view-id-products {
}
.tb-megamenu-block .view-id-products .views-field-field-product-image .field-content {
    min-height: 10px;
    padding-top: 0;
}
.tb-megamenu-block .view-id-products .field-content {
    line-height: 10px;
}
.tb-megamenu-block .view-id-products .views-view-grid {
    width: 400px;
}
#tb-megamenu-main-menu .tb-megamenu-submenu {
    width: auto !important;
}
#tb-megamenu-main-menu .tb-megamenu-submenu img {
    margin: 0 auto;
}
.view-products img {
    margin: 0 auto;
}
label {
    color: rgb(179, 76, 60);
    display: inline-block;
    font-weight: bold;
    margin-bottom: 2px;
}
#block-webform-client-block-126 > h2 {
    color: rgb(199, 83, 6);
    font-size: 28px;
    font-weight: bold;
}
.form-item, .form-actions {
    margin-bottom: 3px;
    margin-top: 3px;
}
#block-block-2 > h2 {
    font-size: 30px;
    margin: 32px 0 9px;
}


/* mobile menu */
@media (max-width: 480px) {
    #block-tb-megamenu-main-menu .view-products .views-view-grid tbody tr td {
        display: inline-block !important;
        float: left;
        margin: 0 !important;
        padding: 4px !important;
        width: 50% !important;
        border-bottom: 1px solid #dcdcdc;
    }

    #block-tb-megamenu-main-menu .view-products .views-view-grid tbody tr td a {
        color: #000 !important;
        margin: 0;
        border: none !important;
        padding: 0;
        margin-right: 4px;
        
    }

    #block-tb-megamenu-main-menu .tb-megamenu-nav > li > a {
        color: #000 !important;
        background: #ff6633 none repeat scroll 0 0;
    }

    #block-tb-megamenu-main-menu .view-products .views-view-grid tbody tr td .views-field {
        
    }

    #tb-megamenu-main-menu > nav-collapse.always-show {

    }

    #tb-megamenu-main-menu .tb-megamenu-column {
        min-height: 300px;
    }

    #tb-megamenu-main-menu .tb-megamenu-column-inner {
        min-height: 300px;
    }

    #tb-megamenu-main-menu > .tb-megamenu-button {
        display: block;
        float: none;
        margin: 8px auto 0;
        width: 40px;
    }

    .view-featured-products td {
        display: block !important;
        width: 100% !important;
    }
}


.page-my-quote #main {
    background: #fff;
    padding: 20px !important;
}

#block-block-3 p, #block-block-3 a {
    color: #fff;
    width: 500px;
}

